.todo {
  padding: 2em 0;
  border-radius: 0.8em;
}
.todo h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1em;
}
.todo li {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8em;
  margin: 0.5em;
  padding-left: 2em;
  text-align: left;
  background-color: #f7f8f8;
}
.popup {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60em;
  bottom: 35em;
  padding: 1em 1em 1em 1em;
  background-color: #134e5e;
  border-radius: 0.8em;
}
.popup h3 {
  font-size: 2rem;
  text-align: center;
  /* margin-bottom: 1.5em; */
  margin: 1em 0 1.5em 0;
}
.popup-body {
  display: flex;
  flex-direction: column;
  width: 21em;
  font-size: 2rem;
  padding: 0.5em, 0, 0.5em, 0;
}
.popup-body input {
  font-size: 2rem;
  padding: 0.25em 0 0.25em 0;
  border-radius: 0.4em;
  border: none;
}
.popup-body .btns {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
}
.popup-body .btns .popup-btn {
  font-size: 2rem;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-left: 1em;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup-body .btns .popup-btn:hover {
  background-color: #64a88c;
}
.tools {
  display: inline-block;
}
.tools button {
  padding: 2em 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tools button:hover {
  background-color: #64a88c;
  /* background-color: #71B280; */
  color: black;
}
.complete {
  font-weight: bold;
  color: #134e5e;
}

.delete {
  font-weight: bold;
  color: crimson;
}
.completed {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
}
